#imageDonation{
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    height: 25.5%;
    object-fit: cover;
}

.donations{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
    width: 90%;
    margin: 5% 5%;
    max-height: 75vh;
    overflow: scroll;
    height: 75vh;
    font-family: 'Roboto', sans-serif;
}

.contentFull{
    margin-top: 2%;
    display: flex;
    height: 64.5%;
    width: 100%;
}

.lowBar{
    background-color: rgb(230,230,230);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.8);
    position: fixed; 
    display: flex;
    width: 90%;
    height: 6%;
}

.fa-chevron-up{
    color: rgb(0,0,0);
    width: 50%;
    text-align: right;
    padding-top: 5px;
    height: 100%;
}

.fa-chevron-up::before{
    padding-right:15px;
}

.textBottom{
    margin: 5px 0 0 5px;
    width: 50%;
    color: rgb(0,0,0);
}

.challengesFull{
    width: 100%;
}

.challengesFull > ul{
    text-align: left;
    padding: 0 0 5vh 0;
    overflow: hidden;
}

.challengesFull > ul > div{
    box-shadow: 0px 4px 6px rgba(0,0,0,0.5);
    margin-bottom: 2%;
    padding: 2.5vh 0;
    max-height: 50vh;
}

.lists{
    margin-left: 10px;
    align-self: center;
    font-weight: bold;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: large;
    text-align: left;
    padding: 0;
    width: 100%;
}

.active{
    padding-bottom: 5%;
}

.fillBox{
    list-style: none;
    overflow: scroll;
    height: 100%;
    margin-bottom: 2vh;
}

.fillBox > li{
    padding: 5px 0;
}

.hider{
    display: none;
    overflow: scroll;
    flex-wrap: wrap;
}

.left{
    flex: 70%;
}

.right{
    flex: 30%;
}

.total{
    display: flex;
    width: 100%;
    border-top: solid rgb(211,16,30);
    font-weight: bold;
}