#imageDailly{
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.dailly{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    width: 90%;
    margin: 5% 5%;
    max-height: 75vh;
    overflow: scroll;
    height: 75vh;
}

.content{
    margin: 2%;
}