:root{
  --header-height: 10vh;
  --nav-height: 10vh;
}

html{
  margin: 0;
}

.fas{
  color: rgb(255,255,255);
  font-size: 25px;
}

main {
  height: calc(100vh - var(--header-height) - var(--nav-height));
}

.bar{
  height: 10vh;
  background-color: rgb(211,16,30);
}

.Top{
  box-shadow: 0px 2px 5px;
  height: 15vh;
  width: 100%;
  display: flex;
  text-align: center;
}

.Bottom{
  position: sticky;
  bottom: 0;
}

.flexGrid{
  flex: 1;
}

#logo{
  height: 80%;
}

#title{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(255,255,255);
}

.Side{
  margin-top: 5%;
}
